<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<script defer src="https://cloud.umami.is/script.js" data-website-id="2055d915-b1ff-4b12-817e-44b02a3063ba"></script>
		<!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-W9C83ZVJFN"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-W9C83ZVJFN'); </script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<meta name="generator" content="{{ eleventy.generator }}">
		<style>{% include "css/index.css" %}</style>

		<style>{% getBundle "css" %}</style>
		<link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicons/favicon-16x16.png">
		<link rel="manifest" href="/static/img/favicons/site.webmanifest">
	</head>

	<body>
		<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>

		<header>
			<a href="/" class="home-link">{{ metadata.title }}</a>
		</header>

		<main id="main">
				{{ content | safe }}
		</main>

		<footer>
			<p>
				<em></em>
			</p>
		</footer>

		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>
